html {
    font-family: 'Noto Sans TC', sans-serif;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
a {
    display: block;
    text-decoration: none;
}
*,*::before,*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.fw-b {
    font-weight: bold;
}
.mobileShow {
    display: none;
}
.mobileNone {
    display: block;
}
@media screen and (max-width: 576px) {
    .mobileShow {
        display: block;
    }
    .mobileNone {
        display: none;
    }
}